#Environment Variables File Example

#Azure Entra ID Values
AZURE_CLIENT_ID=your-client-id-here
AZURE_TENANT_ID=your-tenant-id-here
AZURE_APP_ID_URI=api://your-client-id-here
AZURE_CLIENT_SECRET=your-client-secret-here
